<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.com.ggj.dao.UserMapper">
    <select id="login" parameterType="user" resultType="user">
        select * from t_user
    </select>

    <select id="checkName" parameterType="string" resultType="user">
        select * from t_user where u_name = #{u_name}
    </select>

    <insert id="saveUser" parameterType="user">
        insert into t_user values (user_seq.nextval,#{u_name},#{u_pass})
    </insert>

    <update id="updateUser" parameterType="user">
        update t_user set u_name = #{u_name},u_pass = #{u_pass}  where u_id = #{u_id}
    </update>
</mapper>